.form-panel {
    margin: 0;
    width: 30%;
    min-width: max-content;
    padding: 10px;
    text-align: center;
    background-color: rgb(244, 249, 250);
    border-right: solid 1px rgb(205, 214, 238);
}

.form-title {
    padding: 2px;
    min-width: max-content;
    margin-bottom: 5px;
    font-weight: 400;
    color: rgb(101, 101, 197);
    background-color: #ffffff;
    border: 1px solid rgb(140, 140, 224);
    border-radius: 10px;
}

.form-field {
    margin: 15px 5px 0px 0px;
    padding-bottom: 5px;
}

.form-note-title, .form-note-body {
    text-align: left;
    color: rgb(101, 101, 197);
    padding-bottom: 10px;
    width: 100%;
}

.btn-primary {
    color: rgb(101, 101, 197);
    background-color: #ffffff;
    border: 1px solid rgb(140, 140, 224);
    border-radius: 10px;
}

.btn-primary:hover {
    color: rgb(209, 209, 238);
    background-color: rgb(101, 101, 197);
    border: 1px solid rgb(101, 101, 197);
    border-radius: 10px;
}

.label {
    padding-bottom: 3px;
    text-align: left;
    color: rgb(101, 101, 197);
}

.input {
    width: 100%;
    border: 1px solid rgb(140, 140, 224);
    border-radius: 10px;

}

.textarea {
    min-height: 120px;
}

